<ons-navigator>
   <ons-page>
        <!--<ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Page 1</div>
        </ons-toolbar>-->

        <div style="text-align: center">
            <h1>サヨナラ終電</h1>
            <!--<ons-button
                ng-click="app.slidingMenu.toggleMenu()">
                Toggle Menu
            </ons-button>-->

            <p class="resizeimage"><img src="images/key_visual.jpg" alt="サヨナラ終電イメージ" ng-click="app.slidingMenu.toggleMenu()"></p>
            <p class="resizeimage"><img src="images/logo.gif" alt="サヨナラ終電ロゴ"></p>
            <div style="text-align: center" class="content-padded">
                <ons-button class="button_with_7"><a class="button_ref" href="index2.html?key=1">カプセルホテル</a></ons-button>
                <ons-button class="button_with_7"><a class="button_ref" href="index2.html?key=2">マンガ喫茶</a></ons-button>
            </div>
            <div style="text-align: center" class="content-padded">
                <ons-button class="button_with_7"><a class="button_ref" href="index2.html?key=3">居酒屋</a></ons-button>
                <ons-button class="button_with_7"><a class="button_ref" href="index2.html?key=4">カラオケ</a></ons-button>
            </div>
        </div>
    </ons-page>
</ons-navigator>
